body {
    font-family: "Gill Sans Extrabold", sans-serif;
    background-color: lightskyblue;
    text-align: center;
}

button {
    border-radius: 50px;
    padding: 30px;
    margin: 5px;
    color: whitesmoke;
    font-size: larger;
    background-color: green;
}

.view-score {
    padding: 10px;
    margin: 5px;
    color: darkblue;
    background-color: white;
    font-size: small;
}

.quiz-container button {
    justify-content: center;
    display: flex block;
    margin: 10px;
}
